{import 'other/banner.latte'}
{import 'other/about.latte'}
{import 'other/splitter.latte'}
{import 'other/event.latte'}
{import 'other/review.latte'}

{block content}

{include banner}
{include about}
{include splitter}
{include event}
{include review}
