@mixin font-thin-sans-serif {
  font-family: $font-sans-serif;
  font-weight: 100;
}

@mixin font-thin-serif {
  font-family: $font-serif;
  font-weight: 100;
}

// -----------------------------------

@mixin font-dark-thin-sans-serif {
  color: $color-primary;
  @include font-thin-sans-serif;
}

@mixin font-dark-thin-serif {
  color: $color-primary;
  @include font-thin-serif;
}

@mixin font-light-thin-sans-serif {
  color: $color-secondary;
  @include font-thin-sans-serif;
}

@mixin font-light-thin-serif {
  color: $color-secondary;
  @include font-thin-serif;
}

@mixin font-colored-thin-sans-serif {
  color: $color-tertiary;
  @include font-thin-sans-serif;
}

// -----------------------------------

@mixin heading-big {
  font-size: $heading-big;
}

@mixin heading-medium {
  font-size: $heading-medium;
}

@mixin text-big {
  font-size: $text-big;
}

@mixin text-medium {
  font-size: $text-medium;
}
