parameters:

application:
	errorPresenter: User:Error
	mapping:
		*: [App\Module, * ,*\*Presenter]

session:
	expiration: 14 days

di:
	export:
		parameters: no
		tags: no

includes:
	- dibi.neon
	- contributte.neon
	- nextras.neon
