.banner {
  height: 100vh;
  width: 100%;
  position: relative;

  &__content {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__content-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
  }

  &__icon-wrap {
    display: flex;
    justify-content: center;
  }

  &__heading {
    @include font-light-thin-serif;
    @include heading-big;
    margin: 15px 0;
  }

  &__description {
    @include font-colored-thin-sans-serif;
    @include text-big;
  }

  &__button {
    margin-top: 70px;
  }

  &__icon-beer {
    height: 40px;
    width: 40px;
    fill: $color-secondary;
  }

  &__icon-arrow-dropdown-thin {
    position: absolute;
    height: 30px;
    width: 30px;
    fill: $color-secondary;
    bottom: 0;
    margin: 0 0 10px -20px;
    transition: $transition-medium;
    cursor: pointer;

    &:hover {
      fill: $color-tertiary;
      transition: $transition-medium;
    }
  }
}
