.splitter {
  position: relative;

  &__content {
    position: relative;
  }

  &__icon-burger,
  &__icon-fence,
  &__icon-beer,
  &__icon-dinner {
    height: 80px;
    width: 80px;
    fill: $color-secondary;
  }

  &__list-wrap {
    display: flex;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

  &__list-item {
    list-style: none;
    text-align: center;
  }

  &__text {
    @include font-light-thin-sans-serif;
    @include text-big;
    margin-top: 10px;
  }
}
