.button-colored {
  @include font-dark-thin-sans-serif;
  padding: 15px 30px;
  display: block;
  margin: 0 auto;
  background: $color-tertiary;
  border-radius: 10px;
  border: none;
  font-size: $text-big;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: $transition-medium;
  cursor: pointer;

  &:hover {
    background: $color-tertiary-dark;
    transition: $transition-medium;
  }
}

.button-colored-small {
  @include font-dark-thin-sans-serif;
  padding: 10px 15px;
  background: $color-tertiary;
  border-radius: 10px;
  border: none;
  font-size: $text-medium;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: $transition-medium;
  cursor: pointer;
  margin: 5px 5px 5px 0;

  &:hover {
    background: $color-tertiary-dark;
    transition: $transition-medium;
  }
}

.button-icon-colored {
  @include font-dark-thin-sans-serif;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-tertiary;
  border-radius: 10px;
  border: none;
  font-size: $text-big;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: $transition-medium;
  cursor: pointer;

  &:hover {
    background: $color-tertiary-dark;
    transition: $transition-medium;
  }
}

.input-colored {

}

.input-secondary {
  @include font-light-thin-sans-serif;
  border: 1px solid $color-gray-light;
  background: transparent;
  font-size: $text-medium;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  outline: none;
  transition: $transition-medium;

  &:focus {
    border: 1px solid $color-tertiary;
    transition: $transition-medium;
  }
}

.label-required {
  @include font-colored-thin-sans-serif;
  margin-left: 3px;
}
