.header {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  z-index: 2;
  transition: $transition-medium;

  &--active {
    background: $shader-strongest;
    border-bottom: 1px solid $color-gray;
    transition: $transition-medium;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__logo-home {
    width: auto;
    height: 70px;
    transition: $transition-medium;

    &:hover {
      transition: $transition-medium;
      transform: scale(1.1);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-left: 11%;
  }

  &__nav-item {
    display: inline;
  }

  &__nav-item-link {
    @include font-light-thin-sans-serif;
    @include text-medium;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-top: 4px;

    &--active {
      color: $color-tertiary;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
      transition: transform .3s ease;
      transform: scale(0,1);
      margin-top: 4px;
    }

    &:hover::after {
      transform: scale(1,1);
    }
  }

  &__nav-side {
    display: flex;
    align-items: center;
  }

  &__nav-side-item {
    display: inline;
  }

  &__nav-side-block {
    display: flex;
    align-items: center;
    border-right: 1px solid $color-gray-light;
    padding: 0 10px;
    height: 50%;
  }

  &__nav-side-link {
    padding: 5px;

    &:hover {
      .header__icon-cart,
      .header__icon-facebook,
      .header__icon-instagram,
      .header__icon-user {
        fill: $color-tertiary;
        transition: $transition-medium;
      }
    }
  }

  &__language-block {
    margin-left: 13px;
    display: flex;
    cursor: pointer;

    &:hover {
      .header__language-selected {
        color: $color-tertiary;
        transition: $transition-medium;
      }

      .header__icon-arrow-dropdown-thick {
        fill: $color-tertiary;
        transition: $transition-medium;
      }
    }
  }

  &__language-selected {
    @include font-light-thin-sans-serif;
    @include text-medium;
    transition: $transition-medium;
  }

  &__icon-instagram,
  &__icon-facebook,
  &__icon-user {
    margin-top: 3px;
    width: 20px;
    height: 20px;
  }

  &__icon-cart {
    margin-left: -3px;
    width: 22px;
    height: 22px;
  }

  &__icon-arrow-dropdown-thick {
    margin: 5px 0 0 5px;
    width: 15px;
    height: 15px;
  }

  &__icon-cart,
  &__icon-arrow-dropdown-thick,
  &__icon-facebook,
  &__icon-instagram,
  &__icon-user {
    fill: $color-secondary;
    transition: $transition-medium;
  }
}
